<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSS Components</title>
        <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/avatar.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/banner.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/card.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/navigation.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/button.css') }}">
  </head>
  <body>
    <div style="background-color: rgba(93, 115, 126, 1);">
      <br><br><br><br>
<div class="banner">
 <ul class="navbar">
     <li class="navbar"><a class="navbar" href="{{ url_for('category_card') }}">Category Cards</a></li>
     <li class="navbar"><a class="navbar" href="{{ url_for('bootstrap_intro') }}">Bootstrap</a></li>
     <li class="navbar-title"><span>CARD</span></li>
     <li class="navbar"><a class="navbar" href="{{ url_for('card') }}">Card</a></li>
     <li class="navbar"><a class="navbar" href="{{ url_for('about_me') }}">About Me</a></li>
    </ul>
</div>
  <div class="card">
     <div class="container">
       <div class="container-card">
       <img class="image" src="https://images.unsplash.com/photo-1589491448075-e026bfd74150?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80" alt="Paphos">
       <div class="overlay">
         <a href="#">
           <img class="icon"src="https://icon2.cleanpng.com/20180730/pv/kisspng-facebook-like-button-computer-icons-instagram-button-transparent-background-5b5ea06bcd46b3.7994223115329281078408.jpg" alt="like">
</a>
   </div>
    </div>
   <h4><b>Paphos</b></h4>
   <p>Tomb of the Kings</p>
  </div>
  </body>
</html>
