<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSS Components</title>
       <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/avatar.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/banner.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/card.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/navigation.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/button.css') }}">
  </head>
  <body>
    <div class="navigation">
      <ul class="navbar">
        <li class="navbar"><a class="navbar" href="{{ url_for('category_card') }}" >Flare</a></li>
        <li class="navbar"><a class="navbar" href="{{ url_for('gardening') }}" >Gardening</a></li>
        <li class="navbar-title"><span>CARDS</span></li>
        <li class="navbar"><a class="navbar" href="{{ url_for('sailing') }}" >Sailing</a></li>
        <li class="navbar"><a class="navbar" href="{{ url_for('airbnb') }}" >Air BnB</a></li>
    </ul>
    </div>
    <br><br><br><br>
<div class="card-category-container">
  <h4 class="card-category-title">Flare</h4>
  </div>
  </body>
</html>
